nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-content {
    width: 980px;
  }
  .nav-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
  }
  
  /* Navbar #1 */
  .apple-navbar a {
    color: #d5d5d5;
    font-size: 12px;
    line-height: 44px;
  }
  .apple-navbar ion-icon {
    font-size: 18px;
    transform: translateY(3px);
  }
  .apple-navbar a:hover {
    color: #fff;
  }
  
  /* Navbar #2 */
  .airpods-navbar .nav-content {
    padding: 18px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .nav-logo a {
    color: #fefefe;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
  }
  .nav-items button {
    color: #fefefe;
    font-size: 12px;
    line-height: 22px;
  }
  .nav-items button:hover {
    color: #2997ff;
  }
  .nav-items button:disabled,
  .nav-items button:disabled:hover {
    color: #bebebe;
    cursor: default;
  }
  .nav-items .buy-btn {
    padding: 0 12px;
    background: #147ce5;
    border-radius: 12px;
  }
  .nav-items .buy-btn:hover {
    color: #fefefe;
  }
  
  /* Navbar #2 - Sticky Functioning (.airpods-navbar) */
  .sticky {
    position: fixed;
    top: 0;
  
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    -moz-backdrop-filter: saturate(180%) blur(15px);
    -o-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 10;
  }
  .sticky .nav-content {
    border-bottom: none;
  }
  .sticky section {
    padding-top: 44px;
  }
  